
body {
    margin-left: 200px;
    background-color: azure;
    color: white;
}

h1 {
    color: #17252a;
    padding-left: 50px;
}

ul.navbar {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 150px;
}

ul.navbar li {
    margin: 5px 0;
    padding: 5px;
    border-right: 1px solid #17252a;
    border-top: 1px solid #17252a;
    border-left: 10px solid #17252a;
    border-bottom: 1px solid #17252a;
  }

  ul.navbar a {
    text-decoration: none
  }

  a:link {
    color: steelblue;
  }
  a:visited{
    color: brown;
  }

  a:hover {
    color: blue;
  }
  
  p {
    font: 1em sans-serif;
    color: #17252a;
  }
  